.jumbotron1{
 background-image: url(https://sun9-69.userapi.com/impf/SiOaPwqX1clkF_zdrSjuLitMpPOu0oBChQM7oA/Z4936ZCjNcg.jpg?size=1280x454&quality=96&sign=2042e3e77b025e3cedc3b6f521a5315b&type=album) !important;
    margin-top:2rem;
}
.jumbotron2{
 background-image: url(https://sun9-33.userapi.com/impf/L6hFT49paJQzuoaxmxxUsU6vw7bzwvxd_6SSnw/YlM9RnfU-XA.jpg?size=1280x454&quality=96&sign=0c0c49e1e7cb76f7f4495dc3eccef7f5&type=album)  !important;
    margin-top:2rem;
}
.jumbotron3{
 background-image: url(https://sun9-15.userapi.com/impf/0nKVywfTHJvWcdBQu-keo9wOeBeWX65tEMsXsQ/D0IsInFsqwY.jpg?size=1280x454&quality=96&sign=ff2bb08186c3e5139619f44ef136535a&type=album)  !important;
    margin-top:2rem;
}
.jumbotron4{
 background-image: url(https://sun9-46.userapi.com/impf/aArVk8HqyZxeNvj4zwGvWcMY6URpJ_EcHUvdBg/tzBXR6dWOlg.jpg?size=1280x454&quality=96&sign=4a8822c97d1428769f2f10c8ab87bb25&type=album) !important;
    margin-top:2rem;
}

.color-white{
    color:white;
}

.form-group{
     margin-top:2rem;
}
