{% extends 'base.html' %}

{% block title %}
Обновление данных жокея
{% endblock %}

{% block body %}
<main>
<div class="jumbotron jumbotron2">
        <div class="container p-3 p-md-5 m-md-3">
          <h1 class="display-5 color-white">Редактирование данных <br>жокея</h1>
        <p>
          <a href="/jockeys" class="btn btn-warning my-2">Посмотреть всех жокеев</a>
        </p>
        </div>
</div>
      <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Обновление данных жокея</h1><br>
            <form method="post">
                <input type="text" name="name" id="name" class="form-control" value="{{ jockey.name }}" placeholder="Введите имя жокея"><br>
                <input type="text" name="age" id="age" class="form-control"   value="{{ jockey.age }}" placeholder="Введите возраст жокея"><br>
                  <input type="text" name="address" id="address" class="form-control"   value="{{ jockey.address }}" placeholder="Введите адрес жокея"><br>
                  <input type="text" name="rating" id="rating" class="form-control"   value="{{ jockey.rating }}" placeholder="Введите рейтинг жокея"><br>
                <input type="submit" class="btn btn-warning my-2" value="Обновить">
            </form>
           </div>
    </div>
  </section>

</main>

    {% endblock %}